*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins'
}

html, body{
    width: 100%;
    height: 100%;
}
#main{
    position: relative;
}
.swiper {
    width: 600px;
    height: 300px;
  }
#circle{
    border-radius: 100px;
    background: #000;
    position: absolute;
    z-index: 11111;
    width: 10px;
    height: 10px;
    transition: all cubic-bezier(0.19,1,0.22,1) 1s;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 16px 0 16px 0;
    z-index: 111;
}
.spline{
    position: absolute;
    z-index: -111;
}
a{
    
}
.logo, .navmenu{
    margin: 0 24px 0 24px;
}
.navmenu{
    display: flex;
    align-items: center;
    gap: 48px;
}
.link{
    font-weight: bold;
    color: black;
}

.textcontainer {
    display: flex;
    overflow: hidden;
}
.homepage{
    height: 100vh;
    background: rgba(0, 0, 0, 0.185);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index:1;
    position: relative;
}

.homepage h1{
    font-size: 6vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.homepage h2{
    font-size: 4vw
    /* overflow: hidden; */
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
}
.homepage p{
    text-align: center;
    font-size: 24px;
    margin:  auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    /* font-weight: 700; */
    width: 80%;
}

.herofooter{
    position: absolute;
    bottom: 0;
}

.aboutpage{
    height: 100vh;
    background: rgba(255, 255, 0, 0.244);
    z-index: 3;
}