*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins'
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 16px 0 16px 0;
    z-index: 111;
}
.spline{
    position: absolute;
    z-index: -111;
}
a{
    
}
.logo, .navmenu{
    margin: 0 24px 0 24px;
}
.navmenu{
    display: flex;
    align-items: center;
    gap: 48px;
}
.link{
    font-weight: bold;
    color: black;
}

.h1container {
    display: flex;
    overflow: hidden;
}
.homepage{
    height: 100vh;
    background: rgba(0, 0, 0, 0.185);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homepage h1{
    font-size: 80px;
}
.homepage h2{
    font-size: 40px;
}
.homepage p{
    text-align: center;
    font-size: 24px;
    /* font-weight: 700; */
    width: 60%;
}
.aboutpage{
    height: 100vh;
    background: rgba(255, 255, 0, 0.244);
}